// app ---------------------------------------
#app {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
// Header ---------------------------------------
.app-header {
  padding: 0;
  position: fixed;
  .dropdown-menu {
    padding: 0;
    .dropdown-item {
      padding: 12px 25px;
      border-bottom: 1px solid $gray-200;
    }
  }
}

[v-cloak] {
  display: none;
}

// Sidebar ---------------------------------------
@media (min-width: 992px) {
  .sidebar-minimized .sidebar .sidebar-nav {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Main ------------------------------------------
.main .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .aside-menu-show .main::before,
  .sidebar-show .main::before {
    background: none;
  }
}


// Breadcrumb ------------------------------------
.breadcrumb {
  background-color: transparent;
  border-radius: 0;

}
.breadcrumb-menu {
  & .btn-outline-success, .btn-outline-primary {
    border: 1px solid transparent;
    border-color: inherit;
    padding: 0 0.55rem;
  }

  .btn-primary {
    padding: 0 0.55rem;
  }

  .btn {
    color: $white;
  }
  .btn-link {
    color: $gray-600;
  }
}

// Form ------------------------------------------
.input-group-text {
  background-color: transparent;
}

// Card ------------------------------------------
// .card-header, .card-footer {
//   background-color: transparent;
// }
// .card-header {
//   padding: 1.25rem;
//   color: $blue;
//   font-weight: bold;
// }
.card-footer {
  border-top: none;
}

// Toasted ---------------------------------------
.toasted-container {
  &.top-left, &.top-center, &.top-right {
    top: 3% !important;
  }
  &.bottom-left, &.bottom-center, &.bottom-right {
    bottom: 3% !important;
  }
}

// Modal -----------------------------------------
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    height: auto;
    overflow-y: scroll;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
