<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Комментарий
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="card-body">
                                <div class="form-group mt-4">
                                    <label for="exampleFormControlTextarea1">Комментарий</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="comment"></textarea>
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="save()">
                                Сохранить
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                comment: ''
            }
        },
        props: {
            lead_id: Number,
            lastComment: String
        },
        created() {
            this.comment = this.lastComment
        },
        methods: {
            save() {
                let params = {
                    id: this.lead_id,
                    type: 2,
                    data: this.comment
                };

                axios.post('/addComment', params)
                    .then(response => {
                        this.$emit('close')
                    })
            }
        }
    }
</script>

<style scoped>

</style>
