<template>
    <div class="container">

        <div class="card-header px-0 mt-2 bg-transparent clearfix">
            <h4 class="float-left pt-2">Лиды</h4>

            <div class="card-header-actions mr-1">
                <a class="btn btn-success" href="#" @click="newLeadModal()">Новый лид</a>
            </div>
        </div>

        <div class="card-body px-0">
            <div class="row justify-content-between">
                <div class="col-7 col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" @click="filter">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Seach" v-model.trim="filters.search"
                               @keyup.enter="filter">



                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            Фильтр по статусам
                        </div>
                        <multiselect
                            v-model="filters.status_id"
                            :options="statuses"
                            :multiple="false"
                            track-by="id"
                            label="name"
                            openDirection="bottom"
                            @select="getLeads()"
                        >
                        </multiselect>

                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" @change="filter" v-model="filters.withOld">
                        <label class="custom-control-label" for="customCheck1">Показать старые</label>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('id')">ID</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'id' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark">Поля</a>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('created_at')">Создан</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('status_id')">Статус</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'status_id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'status' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    Комментарий
                </th>
                <th class="d-none d-sm-table-cell"></th>
            </thead>

            <tbody>
                <tr v-for="lead in leads">
                    <td class="d-none d-sm-table-cell">{{lead.id}}</td>
                    <td class="d-none d-sm-table-cell">
                        <div v-for="field in lead.fields">
                            {{field.field}} = {{field.data}}
                        </div>
                    </td>
                    <td class="d-none d-sm-table-cell">
                        <small>{{lead.created_at | moment("LL")}}</small> - <small class="text-muted">{{lead.created_at | moment("LT")}}</small>
                    </td>
                    <td class="d-none d-sm-table-cell" @click="modifyStatus(lead.id)">{{lead.status}}</td>
                    <td class="d-none d-sm-table-cell" v-if="lead.lastComment" @click="modifyComment(lead.id)">{{lead.lastComment}}</td>
                    <td class="d-none d-sm-table-cell" v-else @click="modifyComment(lead.id)">НОВЫЙ КОММЕНТАРИЙ</td>
                    <td class="d-none d-sm-table-cell">
                        <a href="#" class="text-muted" @click="show(lead.id)"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <NewLeadModal v-if="showNewLeadModal"
                      @createOrder="createOrder(lead.id)"
                      @close="modalClose()"
                      :lead.sync="lead">
        </NewLeadModal>
        <LeadModal v-if="showModal"
                   @close="modalClose()"
                   @createOrder="createOrder(lead.id)"
                   @reject="reject()"
                   :lead="lead"
                   :leadData="leadData"
        ></LeadModal>
        <reject-modal v-if="showRejectModal"
                      @saveReject="saveReject"
                      @close="showRejectModal = false"
        ></reject-modal>
        <CommentModal  v-if="showCommentModal"
                       :lead_id="lead.id"
                       :lastComment="lead.lastComment"
                       @close="modalClose()"
        ></CommentModal>
        <StatusModal v-if="showStatusModal"
                     :lead="lead"
                     @close="modalClose()"
                     @save="modalClose()"
        ></StatusModal>
    </div>
</template>

<script>
    import LeadModal from './LeadModal';
    import RejectModal from './RejectModal';
    import NewLeadModal from './NewModal';
    import CommentModal from './CommentModal';
    import StatusModal from './StatusModal';
    export default {
        data () {
            return {
                leads: [],
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 25,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: '',
                    withOld: false,
                    status_id: 0
                },
                loading: true,
                showModal: false,
                showRejectModal: false,
                showNewLeadModal: false,
                showCommentModal: false,
                showStatusModal: false,
                lead: {},
                leadData: [],
                goods: [],
                filterStatus: '',
                statuses: []
            }
        },
        components: {
            LeadModal,
            RejectModal,
            NewLeadModal,
            CommentModal,
            StatusModal
        },
        mounted () {
            // if (localStorage.getItem("filtersTableProjects")) {
            //     this.filters = JSON.parse(localStorage.getItem("filtersTableProjects"))
            // } else {
            //     localStorage.setItem("filtersTableProjects", this.filters);
            // }
            this.getStatuses();
            this.getLeads()
        },
        methods: {
            // filters
            filter() {
                this.filters.pagination.current_page = 1
                this.getLeads()
            },
            sort (column) {
                if(column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = this.filters.orderBy.direction == 'asc' ? 'desc' : 'asc'
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }

                this.getLeads()
            },
            getStatuses() {
                this.loading = true;
                axios.get(`/api/leads/getallstatus`)
                    .then(response => {
                        this.statuses = response.data;
                        this.loading = false;
                    })
            },
            getLeads () {
                this.loading = true
                this.projects = []

                localStorage.setItem("filtersTableLeads", JSON.stringify(this.filters));

                axios.post(`/api/leads/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.leads = response.data.data
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
            },
            show(id) {
                this.loading = true;
                this.lead = this.leads.find(o => o.id === id);
                axios.get(`/api/leads/getdata/${id}`)
                    .then(response => {
                        this.leadData = response.data
                        delete response.data
                        this.loading = false
                        this.showModal = true;
                    })
            },
            createOrder(lead_id) {
                location.href = `/orders/create/${lead_id}`;
            },
            reject() {
                this.showModal = false;
                this.showRejectModal = true;
            },
            saveReject(rejectType, comment) {

                this.showRejectModal = false;

                let data = {
                    rejectType, comment
                };
                axios.post(`/api/leads/reject/${this.lead.id}`, data)
                    .then(response => {

                    })
            },
            newLeadModal() {
                this.showNewLeadModal = true;
            },
            modifyComment(id) {
                this.loading = true;
                this.lead = this.leads.find(o => o.id === id);
                this.showCommentModal = true;
            },
            modifyStatus(id) {
                this.loading = true;
                this.lead = this.leads.find(o => o.id === id);
                this.showStatusModal = true;
            },
            modalClose() {
                this.showModal = false;
                this.showRejectModal = false;
                this.showNewLeadModal = false;
                this.showCommentModal = false;
                this.showStatusModal = false;
                this.getLeads();
            }
        }
    }
</script>

<style scoped>

</style>
