<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Лид
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <table class="table table-hover table-dark">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Источник:</td>
                                        <td>{{lead.source}}</td>
                                    </tr>
                                    <tr>
                                        <td>Дата создания:</td>
                                        <td>{{lead.created_at}}</td>
                                    </tr>
                                    <tr v-for="item in leadData">
                                        <td>{{item.field}}</td>
                                        <td>{{item.data}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="card-header px-0 bg-transparent">
                                <strong>Лог действий</strong><br>
                                <small class="text-muted">Лог действий и комментарии</small>
                                <div class="card-header-actions">
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseLog" aria-expanded="true">
                                        <i class="icon-arrow-up"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="card-body collapse" id="collapseLog">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="commentsOnly" v-model="commentOnly">
                                    <label class="custom-control-label" for="commentsOnly">Только комментарии</label>
                                </div>

                                <div :class="getClass(log)" v-for="log in getLogs">
                                    <small>{{log.created_at | moment("LL")}}</small> - <small class="text-muted">{{log.created_at | moment("LTS")}}</small>
                                    <br>
                                    <small class="text-muted">{{log.user}}</small>
                                    <hr>
                                    {{log.data}}
                                </div>
                            </div>

                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="$emit('createOrder')">
                                Сформировать заказ
                            </button>
                            <button class="btn btn-warning" @click="$emit('reject')">
                                Сменить статус
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import 'moment/locale/ru'
    export default {
        data() {
          return {
              logs: [],
              commentOnly: false
          }
        },
        props: {
            lead: Object,
            leadData: Array,

        },
        mounted() {
            this.$moment.locale('ru')
            console.log(this.$moment.locale())

            axios.get(`/log/${this.lead.id}`)
                .then(response => {
                    this.logs = response.data;
                })
        },
        methods: {
            getClass(log) {
                return 'alert ' + log.alert_class;
            },
        },
        computed: {
            getLogs() {
                if (!this.commentOnly)
                    return this.logs;

                return this.logs.filter(o => { return o.log_type_id === 2 })
            }
        }

    }
</script>

<style scoped>
    .modal-container {
        width: 600px;
        height: 500px;
    }
</style>
