<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Новый Лид
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <label for="project_select">Выберите проект</label>
                            <multiselect
                                         v-if="!loading"
                                         id="project_select"
                                         v-model="project"
                                         :options="projects"
                                         :multiple="false"
                                         track-by="id"
                                         label="name"
                                         openDirection="bottom"
                            >
                            </multiselect>
                            <div class="form-group col-md-9" v-for="(field, index) in project.fields" :key="index" v-if="!loading">
                                <label>{{field.label}}</label>
                                <input
                                    :type="field.field_type"
                                    class="form-control"
                                    v-model="field.value">
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="createLead()">
                                Сформировать заказ
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "NewModal",
        props: {
            lead: Object,
        },
        data() {
            return {
                projects: {},
                project: {},
                loading: true
            }
        },
        created() {
            this.getProjects();
        },
        methods: {
            getProjects() {
                this.loading = true;
                axios.get(`api/projects/getAll`)
                    .then(response => {
                        this.projects = response.data;
                        this.loading = false;
                    })
            },
            createLead() {
                let params = {
                    id: this.project.id,
                    source: 'internal'
                };
                let fields = this.project.fields;
                for (let key in fields)
                {
                    params[fields[key].field_name] = fields[key].value;
                }
                console.log(params);
                axios.get(`/ladd`, {params})
                    .then(response => {
                        this.lead.id = response.data;
                        this.$emit('createOrder')
                    })
            }
        }

    }
</script>

<style scoped>

</style>
