<template>
    <div class="container">
        <div class="row justify-content-md-center">

        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {

            }
        }
    }
</script>

<style scoped>

</style>
