<template>
    <input type="text" v-model="value">
</template>

<script>
    import $ from 'jquery';
    import 'suggestions-jquery';

    export default {
        props: {
            model: {
                required: true
            },
            coordinates: {},
            zip: String,
            options: {
                type: Object,
                default: {
                    type: 'ADDRESS',
                    addon: 'none'
                }
            }
        },
        data() {
            return {
                value: '',
                coords: {
                    latitude: '',
                    longitude: ''
                },
                postal: ''
            }
        },
        mounted() {
            this.callbacks = $.Callbacks();
            this.value = this.model;
            this.initSuggestion();
        },
        destroyed() {
            this.destroySuggestion();
        },
        watch: {
            coords: {
                handler() {
                    this.$emit('update:coordinates', this.coords);
                },
                deep: true
            },
            value() {
                this.$emit('update:model', this.value);
            },
            postal() {
                this.$emit('update:zip', this.postal);
            },
            model() {
                this.value = this.model;
            },
        },
        methods: {
            initSuggestion() {
                this.callbacks.add(this.onSelect);
                this.callbacks.add(this.options.onSelect || $.noop)
                const options = Object.assign({}, this.options, {
                    onSelect: suggestion => this.callbacks.fire(suggestion)
                });
                $(this.$el).suggestions(options);
            },
            destroySuggestion() {
                const plugin = $(this.$el).suggestions();
                plugin.dispose();
            },
            onSelect(suggestion) {
                this.value = suggestion.value;
                this.postal = suggestion.data.postal_code;
                const { geo_lat, geo_lon } = suggestion.data;
                this.coords.latitude = geo_lat;
                this.coords.longitude = geo_lon;
                this.$emit('updateData');
            }
        }
    };
</script>
<style src="suggestions-jquery/dist/css/suggestions.min.css"></style>
