<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <div class="card-header px-0 mt-2 bg-transparent clearfix">
                    <h4 class="float-left pt-2">Данные клиента</h4>
                    <div class="card-header-actions mr-1">
                        <a class="btn btn-primary" href="#" :disabled="submiting" @click.prevent="update">
                            <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
                            <i class="fas fa-check" v-else></i>
                            <span class="ml-1">Сохранить</span>
                        </a>
                        <a class="btn btn-warning" href="#" :disabled="submiting" @click.prevent="showStatusModal = true">
                            <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
                            <i class="fas fa-check" v-else></i>
                            <span class="ml-1">Отказ (смена статуса)</span>
                        </a>
                        <a class="card-header-action ml-1" href="#" :disabled="submitingDestroy"
                           @click.prevent="destroy">
                            <i class="fas fa-spinner fa-spin" v-if="submitingDestroy"></i>
                            <i class="far fa-trash-alt" v-else></i>
                            <span class="d-md-down-none ml-1">Delete</span>
                        </a>
                    </div>
                </div>
                <div class="card-body px-0" v-if="!loading">
                    <div class="form-group col-md-9" v-for="(item, index) in order" :key="index" v-if="!loading">
                        <label>{{order[index].label}}</label>
                        <input
                            v-if="order[index].type !=='textarea'"
                            :type="order[index].type"
                            class="form-control"
                            v-model="order[index].value">
                        <textarea class="form-control" v-if="order[index].type ==='textarea'"
                                  v-model="order[index].value"></textarea>
                    </div>
                </div>

                <div class="card-header px-0 bg-transparent" v-if="!loading">
                    <strong>Доставка</strong><br>
                    <small class="text-muted"></small>
                </div>

                <div class="card-body px-0" v-if="!loading">
                    <multiselect
                                 v-model="deliveryType"
                                 :options="deliveryTypes"
                                 :multiple="false"
                                 track-by="type"
                                 label="label"
                                 openDirection="top"
                                 @select="getDeliveryCost('default')"
                    >
                    </multiselect>
<!--               BOXBERRY -->
                    <div class="form-group col-md-9" v-if="!loading && deliveryType.type == 'boxberry'">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" :class="{'active': deliveryCourier}" @click="deliveryCourier = true">Курьером</button>
                            <button type="button" class="btn btn-primary" :class="{'active': !deliveryCourier}" @click="deliveryCourier = false">До пункта выдачи</button>

                        </div>
                    </div>

<!--                ДОСТАВКА ДО ОТДЕЛЕНИЯ-->
                    <div class="form-group col-md-9" v-if="!loading && deliveryType.type == 'boxberry' && !deliveryCourier">
                        <label for="pointCity">Выберите город</label>
                        <multiselect id="pointCity"
                                     v-model="orderDelivery.city"
                                     :options="boxberyCities"
                                     :multiple="false"
                                     track-by="Code"
                                     label="UniqName"
                                     openDirection="bottom"
                                     @select="getBoxberryPoints()"
                        >
                        </multiselect>
                        <small v-if="orderDelivery.city.Region">Регион (область): {{orderDelivery.city.Region}}<br></small>
                        <small v-if="orderDelivery.city.District">Район: {{orderDelivery.city.District}}<br></small>

                        <label for="boxberryPoint">Выберите пункт выдачи</label>
                        <multiselect id="boxberryPoint" v-if="!loading && !deliveryCourier"
                            v-model="selectedPoint"
                            :options="boxberryPoints"
                            :multiple="false"
                            track-by="Code"
                            label="AddressReduce"
                            openDirection="bottom"
                            @select="getDeliveryCost('boxberry')"
                        >
                        </multiselect>
                    </div>
                 </div>

<!--                 ДОСТАВКА КУРЬЕРОМ-->
                <div class="row" v-if="!loading && deliveryType.type == 'boxberry' && deliveryCourier">
                    <div class="form-group col-md-9">
                        <VueSuggestions
                            :model.sync="orderDelivery.address"
                            :zip.sync="orderDelivery.zip"
                            :coordinates.sync="orderDelivery.coordinates"
                            :placeholder="'Начните вводить'"
                            class="form-control"
                            @updateData="getDeliveryCost('boxberry')"
                            :options="suggestionOptions">
                        </VueSuggestions>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" readonly="readonly" class="form-control" v-model="orderDelivery.zip">
                    </div>
                </div>
<!--               POCHTA -->
                <div class="row" v-if="!loading && deliveryType.type == 'pochta'">
                    <div class="form-group col-md-9">
                        <VueSuggestions
                            :model.sync="orderDelivery.address"
                            :zip.sync="orderDelivery.zip"
                            :coordinates.sync="orderDelivery.coordinates"
                            :placeholder="'Начните вводить'"
                            class="form-control"
                            @updateData="getDeliveryCost('pochta')"
                            :options="suggestionOptions">
                        </VueSuggestions>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="text" readonly="readonly" class="form-control" v-model="orderDelivery.zip">
                    </div>
                </div>



                <div class="form-group col-md-9" v-if="!loading">
                    <label>Стоимость доставки для клиента</label>
                    <input
                        type="number"
                        class="form-control"
                        v-model="completeOrder.priceDeliveryClient">
                </div>

                <div class="card-header px-0 bg-transparent" v-if="!loading">
                    <strong>Товар {{orderGoods[0].name}}</strong><br>
                    <small class="text-muted"></small>
                </div>

                <div class="card-body px-0" v-if="!loading">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action flex-column align-items-start"
                             v-for="good in orderGoods">
                            <div class="row mt-1" v-for="field in good.customFields">
                                <div class="col">{{field.label}}</div>
                                <div class="col" v-if="field.type === 'color'">
                                    <div :style="colorStyle(field.value)"></div>
                                </div>
                                <div class="col" v-else>{{field.value}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Рекомендуемая цена</div>
                                <div class="col">{{good.price}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Цена для клиента</div>
                                <div class="col"><input type="number" class="form-control form-control-sm"
                                                        v-model="good.clientPrice"/></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Количество (<small>Доступно {{good.count}} ед.</small>)</div>
                                <div class="col">
                                    <div class="quantity-block">
                                        <button class="quantity-arrow-minus" @click="goodCount(good, 0)"> -</button>
                                        <input class="form-control form-control-sm" type="number"
                                               v-model="good.clientCount" min="0" max="10"/>
                                        <button class="quantity-arrow-plus" @click="goodCount(good, 1)"> +</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card-header px-0 bg-transparent" v-if="!loading">
                    <strong>Сопутствующие товары</strong><br>
                    <small class="text-muted">Выберите товары с которыми можно предложить данный</small>
                </div>
                <div class="card-body px-0" v-if="!loading">
                    <multiselect
                        v-model="ordersConcomitants"
                        :options="concomitants"
                        :multiple="true"
                        track-by="id"
                        label="name"
                        openDirection="bottom"
                        @select="conVarTimeout()"
                    >
                    </multiselect>
                </div>

                <div class="card-header px-0 bg-transparent" v-if="!loadingCon">
                    <strong>Варианты сопутствующих товаров</strong><br>
                    <small class="text-muted">Выберите вариант товара, если он существует</small>
                </div>

                <div class="card-body px-0" v-if="!loadingCon">
                    <div class="list-group" v-for="variant in concomitantsVariants()">
                        <div class="row mt-1">
                            <strong>{{variant.name}}</strong>
                        </div>
                        <div class="list-group-item list-group-item-action flex-column align-items-start"
                             v-for="good in variant.goods">

                            <div class="row mt-1" v-for="field in good.customFields">
                                <div class="col">{{field.label}}</div>
                                <div class="col" v-if="field.type === 'color'">
                                    <div :style="colorStyle(field.value)"></div>
                                </div>
                                <div class="col" v-else>{{field.value}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Рекомендуемая цена</div>
                                <div class="col">{{good.price}}</div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Цена для клиента</div>
                                <div class="col"><input type="number" class="form-control form-control-sm"
                                                        v-model="good.clientPrice"/></div>
                            </div>
                            <div class="row mt-1">
                                <div class="col">Количество (<small>Доступно {{good.count}} ед.</small>)</div>
                                <div class="col">
                                    <div class="quantity-block">
                                        <button class="quantity-arrow-minus" @click="goodCount(good, 0)"> -</button>
                                        <input class="form-control form-control-sm" type="number"
                                               v-model="good.clientCount" min="0" max="10"/>
                                        <button class="quantity-arrow-plus" @click="goodCount(good, 1)"> +</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <aside class="col-md-2">
                <div class="fixed">
                    <div class="card-header px-0 bg-transparent" v-if="!loading">
                        <strong>Инфо</strong><br>
                        <small class="text-muted"></small>
                    </div>

                    <div class="card-body px-0" v-if="!loading">
                        <div class="row mt-1">
                            <div class="col">Без доставки</div>
                            <div class="col">{{getPrice}}</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">Доставка от ТК</div>
                            <div class="col" v-if="completeOrder.deliveryDetails">
                                {{completeOrder.deliveryDetails.price}}
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">Стоимость доставки для клиента</div>
                            <div class="col" v-if="completeOrder.priceDeliveryClient">
                                {{completeOrder.priceDeliveryClient}}
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col">Срок доставки</div>
                            <div class="col" v-if="completeOrder.deliveryDetails">
                                {{completeOrder.deliveryDetails.delivery_period}}
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-1">
                            <div class="col"><strong>Итого</strong></div>
                            <div class="col"><strong>{{getTotalPrice}}</strong></div>
                        </div>
                        <button class="btn btn-primary" @click="getDeliveryCost(deliveryType.type)">Рассчитать доставку</button>
                    </div>

                </div>
            </aside>
        </div>
        <StatusModal v-if="showStatusModal"
                     :lead="{id: lead_id,
                              status_id: 1}"
                     @save="statusSave()"
                     @close="modalClose()"
        ></StatusModal>
    </div>
</template>

<script>
    import VueSuggestions from '../suggestions/index';
    import StatusModal from '../leads/StatusModal';
    export default {
        data() {
            return {
                lead_id: 0,
                showStatusModal: false,
                submiting: false,
                submitingDestroy: false,
                cityNotBoxberry: false,
                boxberyCities: [],
                boxberryPoints: [],
                selectedPoint: null,
                order: {
                    client_name: {
                        type: 'text',
                        label: 'ФИО клиента',
                        value: ''
                    },
                    telephone: {
                        type: 'text',
                        label: 'Телефон клиента',
                        value: ''
                    },
                    comment: {
                        type: 'textarea',
                        label: 'Комментарий',
                        value: ''
                    },
                },
                orderDelivery: {
                    city: '',
                    pointCode: '',
                    zip: '',
                    address: '',
                    coordinates: ''
                },
                completeOrder: {
                    priceWithoutDelivery: 0,
                    priceDeliveryOnly: 0,
                    priceDeliveryClient: 0,
                    deliveryDetails: {},
                    totalWeight: 0
                },
                deliveryType:   {type: 'boxberry', label: 'Boxberry'},
                deliveryTypes: [
                    {type: 'boxberry', label: 'Boxberry'},
                    {type: 'pochta', label: 'Почта'}
                ],
                deliveryCourier: true,
                allGoods: [],
                _orderGoodsEdit: [],
                orderGoods: [],
                ordersConcomitants: [],
                concomitants: [],
                leadData: [],
                create: true,
                byLead: true,
                loading: true,
                loadingCon: true,
                suggestionOptions: {
                    // @see https://confluence.hflabs.ru/pages/viewpage.action?pageId=207454318
                    token: '107a8b8a52285e8a11956183864572247c9bf559',
                    type: "ADDRESS",
                    scrollOnFocus: false,
                    triggerSelectOnBlur: false,
                    triggerSelectOnEnter: false,
                    addon: 'none',
                    // @see https://confluence.hflabs.ru/pages/viewpage.action?pageId=207454320
                    onSelect (suggestion) {

                    }
                },
            }
        },
        components: { VueSuggestions, StatusModal },
        created() {
            let str = window.location.pathname
            let res = str.split("/")
            let id = parseInt(res[2]);

            if (!isNaN(id)) {
                this.getOrder(id)
                this.create = false;
            }
            if (this.create && typeof (window._lead_id) !== 'undefined' && window._lead_id !== 0) {
                this.fillParams(window._lead_id)
                this.byLead = true;
                this.lead_id = window._lead_id;
            }
            this.byLead = false;

            this.getBoxberyCitiesList();
        },
        mounted() {
            if (this.create)
                this.getOrderGoods(this.lead_id);
        },
        computed: {
            getPrice() {
                let mainGoods = this.orderGoods.map((good) => {
                    if (good.clientPrice !== 0 && good.clientPrice !== "") {
                        return parseInt(good.clientPrice) * parseInt(good.clientCount);
                    }
                    return good.price * good.clientCount;
                });

                let concomitantsPrices = [];
                if (this.ordersConcomitants.length > 0) {
                    let concomitantsGoods = this.ordersConcomitants.map((v) => v.goods);
                    concomitantsPrices = concomitantsGoods[0].map((good) => {
                        if (good.clientPrice !== 0 && good.clientPrice !== "") {
                            return parseInt(good.clientPrice) * parseInt(good.clientCount);
                        }
                        return good.price * good.clientCount;
                    });
                }

                let result = 0;

                for (let key in mainGoods) {
                    result += mainGoods[key];
                }

                for (let key in concomitantsPrices) {
                    result += concomitantsPrices[key];
                }

                this.completeOrder.priceWithoutDelivery = result;

                return result;
            },
            getTotalPrice() {
                // if (this.completeOrder.priceDeliveryClient === 0)
                //     this.completeOrder.priceDeliveryClient = this.completeOrder.priceDeliveryOnly;
                return this.completeOrder.priceWithoutDelivery + parseInt(this.completeOrder.priceDeliveryClient);
            }

        },
        methods: {
            getOrder(id) {
                this.loading = true
                axios.get(`/api/orders/getone/${id}`)
                    .then(response => {
                        this.order.id = response.data.id;
                        this.order.client_name.value = response.data.client_name;
                        this.order.telephone.value = response.data.telephone;
                        this.order.comment.value = response.data.lastComment
                        this.orderDelivery.address = response.data.address;
                        this.orderDelivery.zip = response.data.zip;
                        this.completeOrder.priceDeliveryClient = parseInt(response.data.priceDeliveryClient);
                        this.lead_id = response.data.lead_id;
                        this._orderGoodsEdit = response.data.goods;
                        this.getOrderGoods(this.lead_id);
                        this.getDeliveryCost();
                        this.loading = false
                    })
                    .catch(error => {
                        this.$toasted.global.error('Не найдено')
                        // location.href = '/goods'
                    })
                    .then(() => {
                        this.loading = false
                    })
            },
            fillOrderGoods(goods) {

                for (let key in goods)
                {

                    let goodIndex = 0;
                    this.orderGoods.forEach(function(o, index)
                    {
                        if (o.id === goods[key].id)
                            goodIndex = index;
                    });

                    // this.orderGoods[goodIndex] = goods[key];
                    Vue.set(this.orderGoods, goodIndex, goods[key])
                }
            },
            getBoxberyCitiesList() {
                this.loading = true;
                axios.get(`/api/tc/boxberry/city_list`)
                    .then(response => {
                        this.boxberyCities = response.data;
                        delete response.data;
                        this.loading = false;
                    })
            },
            getOrderGoods(lead_id) {
                this.loading = true;
                axios.get(`/api/goods/getbylead/${lead_id}`)
                    .then(response => {
                        this.orderGoods = response.data.orderGoods;
                        this.concomitants = response.data.concomitants;
                        delete response.data;
                        this.loading = false;
                        if (!this.create)
                            this.fillOrderGoods(this._orderGoodsEdit);
                    })
            },
            getAllGoods() {
                this.loading = true;
                axios.get(`/api/goods/getall`)
                    .then(response => {
                        this.allGoods = response.data;
                        delete response.data;
                        this.loading = false;
                    })
            },
            getDeliveryCost(type) {
                this.$nextTick(function () {
                    if (type === 'default' || typeof(type) === 'undefined')
                        type = this.deliveryType.type;
                    // if (!this.selectedPoint)
                    //     return;

                    let zip = this.orderDelivery.zip;
                    if (type === 'boxberry')
                        zip = (this.deliveryCourier) ? this.orderDelivery.zip : null;

                    axios.get(`/api/tc/${type}/delivery_cost`, {
                        params: {
                            'pointCode': (this.selectedPoint && !this.deliveryCourier) ? this.selectedPoint.Code : '',
                            'zip': zip,
                            'weight': this.getWeight(),
                            'price': this.getPrice
                        }
                    })
                        .then(response => {
                            this.completeOrder.deliveryDetails = response.data;
                            this.completeOrder.priceDeliveryOnly = response.data.price;
                            delete response.data;
                            this.loading = false;
                        })
                });
            },
            getWeight() {
                let mainGoodsW = this.orderGoods.map((good) => good.weight * good.clientCount);
                let concomitantsW = [];
                if (this.ordersConcomitants.length > 0) {
                    let concomitantsGoods = this.ordersConcomitants.map((v) => v.goods);
                    concomitantsW = concomitantsGoods[0].map((good) => good.weight * good.clientCount)
                }
                let result = 0;

                for (let key in mainGoodsW) {
                    result += mainGoodsW[key];
                }

                for (let key in concomitantsW) {
                    result += concomitantsW[key];
                }
                this.completeOrder.totalWeight = result;
                return result;
            },
            fillParams(lead_id) {
                this.loading = true;
                axios.get(`/api/leads/getdata/${lead_id}`)
                    .then(response => {
                        this.leadData = response.data;
                        delete response.data;
                        this.setOrderFields();
                        this.loading = false;
                    })
            },
            setOrderFields() {
                for (let key in this.leadData) {
                    let data = this.leadData[key];
                    if (data['field'] === 'phone')
                        this.order.telephone.value = data['data']
                    if (data['field'] === 'name')
                        this.order.client_name.value = data['data']

                }
            },
            viewGood(id) {
                let card = this.concomitants.find(o => o.id === id);
                this.cardGood = {
                    id: card.id,
                    image_url: card.image_url,
                    title: card.name,
                    price: card.price,
                    description: card.description
                };
                this.currentId = id;
            },
            getListClass(id) {
                if (this.ordersConcomitants.length > 0) {
                    let t = this.ordersConcomitants.find(o => o.id === id);
                    if (typeof t !== 'undefined') {
                        return 'list-group-item list-group-item-primary';
                    }
                }
                return 'list-group-item list-group-item-light';
            },
            getListButton(id) {
                return (this.getBtnAction(id)) ? 'Добавить' : 'Удалить';
            },
            getListButtonClass(id) {
                return (this.getBtnAction(id)) ? 'btn btn-primary' : 'btn btn-danger';
            },
            getBtnAction(id) {
                let t = this.ordersConcomitants.find(o => o.id === id);
                if (typeof t === 'undefined')
                    return true;
                return false;
            },
            add(id) {
                if (this.getBtnAction(id))
                    this.ordersConcomitants.push(this.concomitants.find(o => o.id === id));
                else {
                    var index = this.ordersConcomitants.indexOf(this.ordersConcomitants.find(o => o.id === id));
                    this.ordersConcomitants.splice(index, 1);
                }
            },
            update() {
                if (this.create) {
                    this.store();
                    return;
                }
                if (!this.submiting) {
                    // this.submiting = true
                    // let data = {
                    //     good: this.good,
                    //     projects: this.projects,
                    //     general: this.general,
                    //     concomitants: this.concomitants
                    // }
                    // axios.post(`/api/orders/update/${this.order.id}`, data)
                    //     .then(response => {
                    //         this.$toasted.global.error('Updated role!')
                    //         // location.href = '/orders'
                    //     })
                    //     .catch(error => {
                    //         this.errors = error.response.data.errors
                    //         this.submiting = false
                    //     })
                    this.store(true);
                    return;
                }
            },
            store(update = false) {
                let _order = {
                    client_name: this.order.client_name.value,
                    telephone: this.order.telephone.value,
                    address: this.orderDelivery.address,
                    zip: this.orderDelivery.zip,
                    point_code: this.orderDelivery.pointCode,
                    priceDelivery: this.completeOrder.priceDeliveryOnly,
                    priceDeliveryClient: this.completeOrder.priceDeliveryClient,
                    deliveryType: this.deliveryType.type
                };
                let data = {
                    order: _order,
                    orderGoods: this.orderGoods,
                    concomitants: this.concomitants,
                    comment: this.order.comment.value,
                    lead_id: this.lead_id
                }
                let storeUpdate = (update) ? `update/${this.order.id}` : `store`;
                axios.post(`/api/orders/${storeUpdate}`, data)
                    .then(response => {
                        this.$toasted.global.error('Заказ сформирован!')
                        location.href = '/orders'
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            },
            colorStyle(value) {
                return `
                display: inline;
                float:left;
                width: 15px;
                height: 15px;
                margin-right:5px;
                background-color: ${value}`;
            },
            goodCount(good, mode) {
                good.clientCount = parseInt(good.clientCount);

                if (mode === 0) {
                    if (good.clientCount === 0)
                        return 0;
                    good.clientCount -= 1;
                }
                if (mode === 1) {
                    if ((good.clientCount + 1) <= good.count)
                        good.clientCount += 1;
                }
                this.getDeliveryCost(this.deliveryType.type);
            },
            clearCity() {
                this.order.city.value = '';
            },
            getBoxberryPoints() {
                setTimeout(() => {
                    axios.get(`/api/tc/boxberry/points_list/${this.orderDelivery.city.Code}`)
                        .then(response => {
                            this.boxberryPoints = response.data;
                        })
                }, 500);
            },
            selectPioint(point) {
                this.selectedPoint = point;
            },
            conVarTimeout() {
                this.loadingCon = true;
                this.$nextTick(function () {
                    this.loadingCon = false;
                })
            },
            concomitantsVariants() {
                return this.ordersConcomitants;
            },
            modalClose() {
                this.showStatusModal = false;
            },
            statusSave() {
                this.showStatusModal = false;
                location.href = '/leads'
            },
            destroy() {
                axios.post(`/api/orders/delete/${this.order.id}`)
                    .then(response => {
                        this.$toasted.global.error('Заказ удалён!')
                        location.href = '/orders'
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            }

        },

    }
</script>

<style scoped>
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .quantity-block {
        margin: auto;
        font-size: 8px;
        display: flex;
    }

    .quantity-arrow-minus,
    .quantity-arrow-plus {
        cursor: pointer;
        font-size: 15px;
        width: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        outline: none;
    }

    .quantity-num {
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 4px;
        outline: none;
    }

    .fixed {
        position: fixed;
        top: 25%;
        width: 100%;
        max-width: 400px;
    }

</style>
