<template>
    <div class="container">

        <div class="card-header px-0 mt-2 bg-transparent clearfix">
            <h4 class="float-left pt-2">Заказы</h4>
        </div>

        <div class="card-body px-0">
            <div class="row justify-content-between">
                <div class="col-7 col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" @click="filter">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" v-model.trim="filters.search"
                               @keyup.enter="filter">

                    </div>
                    <div class="custom-control custom-checkbox">
                        <button class="btn btn-primary" @click="getNewOrdersList">Сформировать лист заказов</button>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                <th class="d-none d-sm-table-cell">
                    Выбрать
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('id')">ID</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'id' && filters.orderBy.direction == 'desc'}"></i>
                </th>

                <th>
                    <a href="#" class="text-dark" @click.prevent="sort('client_name')">Имя Клиента</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'client_name' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'client_name' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('telephone')">Телефон</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'telephone' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'telephone' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('status')">Статус</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'status' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'status' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    Комментарий
                </th>
                <th class="d-none d-sm-table-cell"></th>
                </thead>
                <tbody>
                <tr v-for="order in orders">
                    <td class="d-none d-sm-table-cell"><input class="form-check-input" type="checkbox" id="variantsCheck" v-bind:value="order" v-model="orderCheckboxes"></td>
                    <td class="d-none d-sm-table-cell">{{order.id}}</td>
                    <td class="d-none d-sm-table-cell">{{order.client_name}}</td>
                    <td class="d-none d-sm-table-cell">{{order.telephone}}</td>
                    <td class="d-none d-sm-table-cell"  @click="modifyStatus(order.id)">{{order.status.name}}<br><small>{{order.status.description}}</small></td>
                    <td class="d-none d-sm-table-cell" v-if="order.lastComment" @click="modifyComment(order.id)">{{order.lastComment}}</td>
                    <td class="d-none d-sm-table-cell" v-else @click="modifyComment(order.id)">НОВЫЙ КОММЕНТАРИЙ</td>
                    <td class="d-none d-sm-table-cell"><i class="fas fa-pen" @click="edit(order.id)"></i></td>
                </tr>
                </tbody>
            </table>
        </div>

        <CommentModal  v-if="showCommentModal"
                       :lead_id="order.lead_id"
                       :lastComment="order.lastComment"
                       @close="modalClose()"
        ></CommentModal>

        <ListModal  v-if="showListModal"
                    @close="modalClose()"
                    :_orders="orderCheckboxes"
        >
        </ListModal>

        <StatusModal v-if="showStatusModal"
                     :order="order"
                     @close="modalClose()"
        ></StatusModal>
    </div>
</template>

<script>
    import CommentModal from '../leads/CommentModal';
    import ListModal from './ListModal';
    import StatusModal from './StatusModal';
    export default {
        data () {
            return {
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 25,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: '',
                    withOld: false
                },
                orders : {

                },
                leadData: [],
                orderCheckboxes: [],
                order: {},
                showCommentModal: false,
                showListModal: false,
                showStatusModal: false
            }
        },
        components: {
            CommentModal, ListModal, StatusModal
        },
        mounted () {
            // if (localStorage.getItem("filtersTableProjects")) {
            //     this.filters = JSON.parse(localStorage.getItem("filtersTableProjects"))
            // } else {
            //     localStorage.setItem("filtersTableProjects", this.filters);
            // }
            this.getOrders()
        },
        methods: {
            filter() {
                this.filters.pagination.current_page = 1
                this.getOrders()
            },
            edit(id) {
                location.href = `/orders/${id}/edit`
            },
            getOrders () {
                this.loading = true
                this.projects = []

                localStorage.setItem("filtersTableOrders", JSON.stringify(this.filters));

                axios.post(`/api/orders/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.orders = response.data.data
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
            },
            showLead(id) {
                this.loading = true;
                this.lead = this.leads.find(o => o.id === id);
                axios.get(`/api/leads/getdata/${id}`)
                    .then(response => {
                        this.leadData = response.data
                        delete response.data
                        this.loading = false
                        this.showModal = true;
                    })
            },
            getNewOrdersList() {
                this.showListModal = true;
            },
            modifyComment(id) {
                this.loading = true;
                this.order = this.orders.find(o => o.id === id);
                this.showCommentModal = true;
            },
            modifyStatus(id) {
                this.loading = true;
                this.order = this.orders.find(o => o.id === id);
                this.showStatusModal = true;
            },
            modalClose() {
                this.showModal = false;
                this.showRejectModal = false;
                this.showNewLeadModal = false;
                this.showCommentModal = false;
                this.showStatusModal = false;
                this.showListModal = false;
                this.getOrders();
            }
        }

    }
</script>

<style scoped>

</style>
