<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            Заказы на печать
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="card-body">

                                <div id="printTable">
                                    <table v-for="order in orders" class="table">
                                        <thead>
                                        <th></th>
                                        <th></th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>ФИО клиента</td>
                                            <td>{{order.client_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Телефон клиента</td>
                                            <td>{{order.telephone}}</td>
                                        </tr>
                                        <tr>
                                            <td>Индекс</td>
                                            <td>{{order.zip}}</td>
                                        </tr>
                                        <tr>
                                            <td>Адрес</td>
                                            <td>{{order.address}}</td>
                                        </tr>
                                        </tbody>

                                        <tbody v-for="good in order.goods">
                                        <tr>
                                            <td>Товар</td>
                                            <td>{{good.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Кол-во</td>
                                            <td>{{good.pivot.count}}</td>
                                        </tr>
                                        <tr v-for="field in good.customFields">
                                            <td>{{field.label}}</td>
                                            <td>{{field.value}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="print()">
                                Печать
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>

                </div>
            </div>
        </div>

    </transition>
</template>

<script>
    export default {
        props: {
            _orders: Array
        },
        data() {
            return {
                orders: []
            }
        },
        methods: {
            print() {

                let ids = [];

                for (let key in this.orders)
                    ids.push(this.orders[key].id)

                // axios.post(`/api/orders/topackage`, ids)
                //     .then(response => {
                //
                //     })

                this.$htmlToPaper('printTable', () => {
                    // this.$emit('close');
                });


            }
        },
        created() {
            // axios.post(`/api/orders/getListNewOrders`)
            //     .then(response => {
            //         this.orders = response.data
            //         this.$nextTick(function () {
            //             this.print();
            //         });
            //     })
            this.orders = this._orders

        },
        mounted() {

        }

    }
</script>

<style scoped>
    .modal-container {
        width: 600px;
        height: 500px;
    }
</style>
