<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Статус
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="card-body">
                                <div class="custom-control custom-radio" v-for="status in statuses" v-if="!loading">
                                    <input type="radio" :id="status.slug" name="status" class="custom-control-input" :value="status.id" v-model="selectedStatus" required>
                                    <label class="custom-control-label" :for="status.slug">{{status.name}}</label>
                                    <small>{{status.description}}</small>
                                </div>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="save()">
                                Сохранить
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                statuses: [],
                selectedStatus: null,
                loading: true
            }
        },
        props: {
            order: Object
        },
        created() {
            this.getStatuses();
            this.selectedStatus = this.order.status_id;
        },

        methods: {
            getStatuses() {
                this.loading = true;
                axios.get(`/api/orders/getallstatus`)
                    .then(response => {
                        this.statuses = response.data;
                        this.loading = false;
                    })
            },
            save() {
                axios.post(`/api/orders/changestatus`, {
                    order_id: this.order.id,
                    status: this.selectedStatus
                })
                    .then(response => {
                        this.$emit('close')
                    })
            }
        }
    }
</script>

<style scoped>

</style>
