<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9 col-xl-7">

                <div class="card-header px-0 mt-2 bg-transparent clearfix">
                    <h4 class="float-left pt-2" v-if="create">Добавить проект</h4>
                    <h4 class="float-left pt-2" v-if="!create">Редактировать проект</h4>
                    <div class="card-header-actions mr-1">
                        <a class="btn btn-primary" href="#" :disabled="submiting" @click.prevent="update">
                            <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
                            <i class="fas fa-check" v-else></i>
                            <span class="ml-1">Сохранить</span>
                        </a>
                        <a class="card-header-action ml-1" href="#" :disabled="submitingDestroy"
                           @click.prevent="destroy">
                            <i class="fas fa-spinner fa-spin" v-if="submitingDestroy"></i>
                            <i class="far fa-trash-alt" v-else></i>
                            <span class="d-md-down-none ml-1">Удалить</span>
                        </a>
                    </div>
                </div>
                <div class="card-header px-0 bg-transparent">
                    <strong>Основное</strong><br>
                    <small class="text-muted"></small>
                </div>
                <div class="card-body px-0" v-if="!loading">
                    <div class="row">
                        <div class="form-group col-md-9">
                            <label>Название</label>
                            <input type="text" class="form-control" :class="{'is-invalid': errors.name}"
                                   v-model="project.name">
                            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
                        </div>

                        <div class="form-group col-md-3">
                            <label>ID</label>
                            <input class="form-control" type="text" v-model="project.id" readonly>
                        </div>

                        <div class="form-group col-md-9">
                            <label>URL</label>
                            <input type="text" class="form-control" :class="{'is-invalid': errors.name}"
                                   v-model="project.landing_url">
                            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
                        </div>
                    </div>
                    <div class="card" v-for="(field, index) in fields" :key="index" v-if="!loading">

                        <div class="card-header">
                            Поле {{index + 1}}
                        </div>
                        <div class="card-body">
                            <div class="form-group col-md-9">
                                <label for="field_type">Тип поля</label>
                                <multiselect id="field_type"
                                             v-model="field.field_type"
                                             :options="fieldTypes"

                                             :multiple="false"
                                             track-by="id"
                                             label="name"
                                             openDirection="bottom"
                                             :class="{'border border-danger rounded': errors.goods}">
                                    >
                                </multiselect>
                            </div>

                            <div class="form-group col-md-9">
                                <label>Название</label>
                                <input type="text" class="form-control" v-model="field.field_name">
                            </div>

                            <div class="form-group col-md-9">
                                <label>wrapper_class</label>
                                <input type="text" class="form-control" v-model="field.wrapper_class">
                            </div>

                            <div class="form-group col-md-9">
                                <label>attr_class</label>
                                <input type="text" class="form-control" v-model="field.attr_class">
                            </div>

                            <div class="form-group col-md-9">
                                <label>label</label>
                                <input type="text" class="form-control" v-model="field.label">
                            </div>

                            <div class="form-group col-md-9">
                                <label>label_class</label>
                                <input type="text" class="form-control" v-model="field.label_class">
                            </div>

                            <div class="form-group col-md-9">
                                <label>errors_class</label>
                                <input type="text" class="form-control" v-model="field.errors_class">
                            </div>

                            <div class="form-group col-md-9">
                                <label>error_messages</label>
                                <input type="text" class="form-control" v-model="field.error_messages">
                            </div>

                            <div class="form-group col-md-9">
                                <input class="form-check-input" type="checkbox" v-model="field.required_field">
                                <label class="form-check-label">
                                    Обязательное поле
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row" v-if="!loading">

                        <div class="form-group col-md-9">
                            <button type="button" class="btn btn-primary" @click="add()">Добавить поле</button>
                            <button type="button" class="btn btn-info" @click="addStandart()">Добавить стандартные поля</button>

                        </div>

                        <div class="form-group col-md-9">
                            <label>Товары</label>
                            <multiselect
                                v-model="goods"
                                :options="allGoods"
                                :multiple="false"
                                openDirection="bottom"
                                track-by="id"
                                label="name"
                                :class="{'border border-danger rounded': errors.goods}">
                            </multiselect>
                            <small class="form-text text-danger" v-if="errors.goods">{{errors.goods[0]}}</small>
                        </div>

                    </div>
                </div>

                <content-placeholders class="card-body" v-if="loading">
                    <content-placeholders-heading :img="true"/>
                </content-placeholders>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                project: {},
                goods: [],
                allGoods: [],
                errors: {},
                fields: [],
                standartField: {
                    field_name: 'name',
                    field_type: 2,
                    wrapper_class: 'form-group',
                    attr_class: 'form-control',
                    label: 'Имя',
                    label_class: 'control-label',
                    errors_class: 'text-danger',
                    error_messages: ''
                },
                emptyField: [],
                fieldTypes: [],
                loading: true,
                create: false,
                submiting: false,
                submitingDestroy: false
            }
        },
        mounted() {
            let str = window.location.pathname
            let res = str.split("/")

            let id = parseInt(res[2]);
            if (!isNaN(id)) {
                this.getProject(id)
                this.getOptions(id);
            } else {
                this.create = true;
                this.getOptions(0);

            }
        },
        emptyField: null,
        methods: {
            getProject(id) {
                this.loading = true

                axios.get(`/api/projects/getone/${id}`)
                    .then(response => {
                        this.project = response.data.project;
                        this.fields = response.data.fields;
                        this.goods = response.data.goods;
                    })
                    .catch(error => {
                        this.$toasted.global.error('Не найдено')
                        location.href = '/goods'
                    })
                    .then(() => {
                        this.loading = false
                    })
            },
            getOptions(id = 0) {
                this.loading = true
                axios.get(`/api/projects/getoptions/${id}`)
                    .then(response => {
                        this.allGoods = response.data.allGoods;
                        this.fieldTypes = response.data.fieldTypes;
                        this.$options.emptyField = response.data.emptyField;

                    })
                    .catch(error => {
                        this.$toasted.global.error('Не найдено')
                        // location.href = '/goods'
                    })
                    .then(() => {
                        this.loading = false
                    })

            },
            update() {
                if (this.create) {
                    this.store();
                    return;
                }
                if (!this.submiting) {
                    this.submiting = true
                    let data = {
                        project: this.project,
                        goods: this.goods,
                        fields: this.fields
                    }
                    axios.post(`/api/projects/update/${this.project.id}`, data)
                        .then(response => {
                            this.$toasted.global.error('Updated role!')
                            location.href = '/projects'
                        })
                        .catch(error => {
                            this.errors = error.response.data.errors
                            this.submiting = false
                        })
                }
            },
            store() {
                let data = {
                    project: this.project,
                    goods: this.goods,
                    fields: this.fields
                }
                axios.post(`/api/projects/store`, data)
                    .then(response => {
                        this.$toasted.global.error('Добавлен товар!')
                        location.href = '/projects'
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            },
            add() {
                // console.log(this.emptyField);
                let field = JSON.parse(JSON.stringify(this.$options.emptyField));
                this.fields.push(field)
            },
            addStandart() {
                let _$field1 = JSON.parse(JSON.stringify(this.standartField));
                _$field1.field_name = 'name';
                _$field1.field_type = this.fieldTypes[1];
                _$field1.label = 'Имя';
                _$field1.required_field = true;
                this.fields.push(_$field1)

                let _$field2 = JSON.parse(JSON.stringify(this.standartField));
                _$field2.field_name = 'phone';
                _$field2.field_type = this.fieldTypes[1];
                _$field2.label = 'Телефон';
                _$field2.required_field = true;
                this.fields.push(_$field2)
            },
            destroy() {
                axios.post(`/api/projects/delete/${this.project.id}`)
                    .then(response => {
                        this.$toasted.global.error('Проект удалён!')
                        location.href = '/projects'
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            }
        },
        computed: {
            getFields: {
                get() {
                    return this.fields;
                },
                set(newValue) {
                    this.fields = newValue;
                }
            }
        }
    }
</script>

<style scoped>

</style>
