<template>
    <div class="container">

        <div class="card-header px-0 mt-2 bg-transparent clearfix">
            <h4 class="float-left pt-2">Проекты</h4>
            <div class="card-header-actions mr-1">
                <a class="btn btn-success" href="/projects/create">Новый проект</a>
            </div>
        </div>

        <div class="card-body px-0">
            <div class="row justify-content-between">
                <div class="col-7 col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" @click="filter">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Seach" v-model.trim="filters.search"
                               @keyup.enter="filter">
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('id')">ID</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'id' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark" @click.prevent="sort('name')">Проект</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'name' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'name' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark" @click.prevent="sort('landing_url')">URL</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'landing_url' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'name' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark">Код формы</a>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('created_at')">Создан</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell"></th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="project in projects">
                <td class="d-none d-sm-table-cell">{{project.id}}</td>
                <td class="d-none d-sm-table-cell">{{project.name}}</td>
                <td class="d-none d-sm-table-cell">{{project.landing_url}}</td>
                <td class="d-none d-sm-table-cell"> <button type="button" class="btn btn-primary" @click="getCodeForm(project.id)">Форма</button></td>
                <td class="d-none d-sm-table-cell">
                    <small>{{project.created_at | moment("LL")}}</small> - <small class="text-muted">{{project.created_at | moment("LT")}}</small>
                </td>
                <td class="d-none d-sm-table-cell">
                    <a href="#" class="text-muted" @click="edit(project.id)"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
            </tbody>
        </table>


        <modal v-if="showModal" @close="showModal = false" :code="code"></modal>

    </div>


</template>

<script>
    import Modal from './Modal';
    export default {
        data () {
            return {
                projects: [],
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 25,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: '',


                },
                loading: true,
                showModal: false,
                code: '',
            }
        },
        components: {
            Modal
        },
        mounted () {
            // if (localStorage.getItem("filtersTableProjects")) {
            //     this.filters = JSON.parse(localStorage.getItem("filtersTableProjects"))
            // } else {
            //     localStorage.setItem("filtersTableProjects", this.filters);
            // }
            this.getProjects()
        },
        methods: {
            getProjects () {
                this.loading = true
                this.projects = []

                localStorage.setItem("filtersTableGoods", JSON.stringify(this.filters));

                axios.post(`/api/projects/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.projects = response.data.data
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
            },
            edit (userId) {
                location.href = `/projects/${userId}/edit`
            },
            // filters
            filter() {
                this.filters.pagination.current_page = 1
                this.getProjects()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getProjects()
            },
            sort (column) {
                if(column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = this.filters.orderBy.direction == 'asc' ? 'desc' : 'asc'
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }

                this.getProjects()
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getProjects()
            },
            getCodeForm (id) {
                let data = {
                    project_id: id
                };
                axios.post(`/api/projects/getcode`, data)
                    .then(response => {
                        this.code = response.data
                        this.showModal = true;
                    })
            },
            closeModal() {
              this.showModal = false;
            }
        }
    }
</script>

<style scoped>

</style>
