<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                        <slot name="header">
                            Удалить поле
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            Вы действительно хотите удалить дополнительное поле? Поле удалится со всеми значениями из всех вариантов товара.
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-danger" @click="$emit('delCF')">
                                Удалить
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Отмена
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "CFDelModal"
    }
</script>

<style scoped>
    .modal-container {
        width: 600px;
        height: 300px;
    }
</style>
