<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            Дополнительное поле
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            <div class="form-group col-md-9">
                                <label>Название поля <small>только латиница</small></label>
                                <input type="text" class="form-control" v-model="field.name">
                            </div>
                            <div class="form-group col-md-9">
                                <label>Метка поля</label>
                                <input type="text" class="form-control" v-model="field.label">
                            </div>
                            <div class="form-group col-md-9">
                                <label>Тип поля</label>
                                <multiselect
                                    v-model="field.type"
                                    :options="cfTypes"
                                    :multiple="false"
                                    openDirection="bottom"
                                    track-by="type"
                                    label="name"
                                    :class="">
                                </multiselect>
                            </div>
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <button class="btn btn-primary" @click="$emit('addCF')">
                                Добавить
                            </button>
                            <button class="btn btn-secondary" @click="$emit('close')">
                                Закрыть
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            field: Object,
            cfTypes: Array
        }
    }
</script>

<style scoped>
    .modal-container {
        height: auto;
    }

</style>
