<template>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9 col-xl-7">

                <div class="card-header px-0 mt-2 bg-transparent clearfix">
                    <h4 class="float-left pt-2">Редактировать товар</h4>
                    <div class="card-header-actions mr-1">
                        <a class="btn btn-primary" href="#" :disabled="submiting" @click.prevent="update">
                            <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
                            <i class="fas fa-check" v-else></i>
                            <span class="ml-1">Save</span>
                        </a>
                        <a class="card-header-action ml-1" href="#" :disabled="submitingDestroy" @click.prevent="destroy">
                            <i class="fas fa-spinner fa-spin" v-if="submitingDestroy"></i>
                            <i class="far fa-trash-alt" v-else></i>
                            <span class="d-md-down-none ml-1">Delete</span>
                        </a>
                    </div>
                </div>
                <div class="card-header px-0 bg-transparent">
                    <strong>Основное</strong><br>
                    <small class="text-muted"></small>
                </div>
                <div class="card-body px-0">
                    <div class="row" v-if="!loading">

                        <div class="form-group col-md-9">
                            <label>Название</label>
                            <input type="text" class="form-control" :class="{'is-invalid': errors.name}" v-model="good.name" placeholder="John Doe">
                            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
                        </div>

                        <div class="form-group col-md-3">
                            <label>ID</label>
                            <input class="form-control" type="text" v-model="good.id" readonly>
                        </div>

                        <div class="form-group col-md-9">
                            <label>Цена</label>
                            <input type="number" class="form-control" :class="{'is-invalid': errors.price}" v-model="good.price">
                            <div class="invalid-feedback" v-if="errors.price">{{errors.price[0]}}</div>
                        </div>

                        <div class="form-group col-md-9">
                            <label>Цена закупки</label>
                            <input type="number" class="form-control" :class="{'is-invalid': errors.purchase_price}" v-model="good.purchase_price">
                            <div class="invalid-feedback" v-if="errors.purchase_price">{{errors.purchase_price[0]}}</div>
                        </div>

                        <div class="form-group col-md-9">
                            <label>Описание</label>
                            <textarea class="form-control" :class="{'is-invalid': errors.name}" v-model="good.description"></textarea>
                            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
                        </div>

                        <div class="form-group col-md-9">
                            <label>Проекты</label>
                            <multiselect
                                v-model="projects"
                                :options="allProjects"
                                :multiple="true"
                                openDirection="bottom"
                                track-by="id"
                                label="name"
                                :class="{'border border-danger rounded': errors.goods}">
                            </multiselect>
                            <small class="form-text text-danger" v-if="errors.goods">{{errors.goods[0]}}</small>
                        </div>

                    </div>
                </div>

                <content-placeholders class="card-body" v-if="loading">
                    <content-placeholders-heading :img="true"/>
                </content-placeholders>

                <div class="card-header px-0 bg-transparent" v-if="!loading">
                    <strong>Сопутствующие товары</strong><br>
                    <small class="text-muted">Выберите товары, которые можно предложить клиенту вместе с данным</small>
                    <div class="card-header-actions">
                        <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseСoncomitants" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>

                <div class="card-body collapse" id="collapseСoncomitants" v-if="!loading">
                    <div class="form-group">
                        <label>Товары</label>
                        <multiselect
                            v-model="concomitants"
                            :options="allGoods"
                            :multiple="true"
                            openDirection="bottom"
                            track-by="id"
                            label="name"
                            :class="{'border border-danger rounded': errors.goods}">
                        </multiselect>
                        <small class="form-text text-danger" v-if="errors.goods">{{errors.goods[0]}}</small>
                    </div>
                </div>

                <content-placeholders class="card-body" v-if="loading">
                    <content-placeholders-heading :img="true"/>
                </content-placeholders>

                <div class="card-header px-0 bg-transparent" v-if="!loading">
                    <strong>Является сопутствующим</strong><br>
                    <small class="text-muted">Выберите товары с которыми можно предложить данный</small>
                    <div class="card-header-actions">
                        <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseGenerals" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>


                <div class="card-body collapse" id="collapseGenerals" v-if="!loading">
                    <div class="form-group">
                        <label>Товары</label>
                        <multiselect
                            v-model="general"
                            :options="allGoods"
                            :multiple="true"
                            openDirection="bottom"
                            track-by="id"
                            label="name"
                            :class="{'border border-danger rounded': errors.goods}">
                        </multiselect>
                        <small class="form-text text-danger" v-if="errors.goods">{{errors.goods[0]}}</small>
                    </div>
                </div>

                <content-placeholders class="card-body" v-if="loading">
                    <content-placeholders-heading :img="true"/>
                </content-placeholders>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                good: {},
                general: [],
                allGoods: [],
                concomitants: [],
                projects: [],
                allProjects: [],
                errors: {},
                loading: true,
                submiting: false,
                submitingDestroy: false
            }
        },

    }
</script>

<style scoped>

</style>
