<template>
    <fieldset class="form-group">
        <div class="form-group row col-md-9" v-for="(field, index) in fields">
            <label :for="field.name">{{field.label}}</label>
            <i class="far fa-trash-alt" @click="showDelModal(index)" style="cursor: pointer;"></i>
            <input :type="(typeof field.type.type !== 'undefined') ? field.type.type : field.type" class="form-control"
                   v-model="field.value">

        </div>

        <CFDelModal
            v-if="delModalShow"
            @delCF="del()"
            @close="delModalShow = false"
        ></CFDelModal>


    </fieldset>
</template>

<script>
    import ColorPiecker from './ColorPiecker'
    import CFDelModal from './CFDelModal'

    export default {
        data() {
          return {
              removeField: 0,
              delModalShow: false,
          }
        },
        props: {
            fields: Array,
            cfTypes: Array,
            deleteField: Function
        },
        components: {
            ColorPiecker,
            CFDelModal
        },
        methods: {
            updateColor: function (event) {
                this.fields[event.index].value = event.color;
            },
            showDelModal(index) {
                this.delModalShow = true;
                this.removeField = index;
            },
            del() {
                this.delModalShow = false;
                this.deleteField(this.removeField)
            }
        }
    }
</script>

<style scoped>

</style>
