<template>
    <div class="container">
        <div class="row justify-content-md-center">
                <div class="col-md-9 col-xl-7">
                    <div class="card-header px-0 mt-2 bg-transparent clearfix">
                        <h4 class="float-left pt-2" v-if="create">Добавить товар</h4>
                        <h4 class="float-left pt-2" v-else>Редактировать товар</h4>
                        <div class="card-header-actions mr-1">
                            <a class="btn btn-primary" href="#" :disabled="submiting" @click.prevent="update">
                                <i class="fas fa-spinner fa-spin" v-if="submiting"></i>
                                <i class="fas fa-check" v-else></i>
                                <span class="ml-1">Save</span>
                            </a>
                            <a class="card-header-action ml-1" href="#" :disabled="submitingDestroy"
                               @click.prevent="destroy">
                                <i class="fas fa-spinner fa-spin" v-if="submitingDestroy"></i>
                                <i class="far fa-trash-alt" v-else></i>
                                <span class="d-md-down-none ml-1">Delete</span>
                            </a>
                        </div>
                    </div>

                    <div class="card-header px-0 bg-transparent">
                        <strong>Основное</strong><br>
                        <small class="text-muted"></small>
                    </div>
                    <div class="card-body px-0" v-if="!loading">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Название</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" :class="{'is-invalid': errors.name}"
                                       v-model="name">
                            </div>
                            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
                        </div>

                        <div class="form-check form-check-inline mt-1 mb-1">
                            <input class="form-check-input" type="checkbox" id="variantsCheck" v-model="moreVariants">
                            <label class="form-check-label" for="variantsCheck">Товар имеет несколько вариантов</label>
                        </div>

                        <div class="form-check form-check-inline mt-1 mb-1">
                            <input class="form-check-input" type="checkbox" id="kits" v-model="kitsMenu">
                            <label class="form-check-label" for="kits">Товар в составе комплекта</label>
                        </div>

                        <div class="form-group row col-md-9" v-if="moreVariants">
                            <button class="btn btn-primary" @click.prevent="addVariant">Добавить вариант</button>
                            <button class="btn btn-danger" v-if="goods.length > 1" @click.prevent="deleteVariant()">Удалить этот вариант</button>
                        </div>

                        <ul class="nav nav-tabs" v-if="moreVariants">
                            <li class="nav-item" v-for="(_good, index) in goodTabs">
                                <a :class="tabClass(index)" href="#" @click.prevent="changeVariant(index)">Вариант {{index +
                                    1}}</a>
                            </li>
                        </ul>


                        <!--                        <div class="form-group col-md-3">-->
                        <!--                            <label>ID</label>-->
                        <!--                            <input class="form-control" type="text" v-model="good.id" readonly>-->
                        <!--                        </div>-->


                        <div class="form-group row mt-3">
                            <label class="col-sm-2 col-form-label">Цена</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"
                                       v-model="good.price">
                                <div class="invalid-feedback" v-if="errors.price">{{errors.price[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group row mt-3">
                            <label class="col-sm-2 col-form-label">Цена закупки</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control"
                                       v-model="good.purchase_price">
                                <div class="invalid-feedback" v-if="errors.purchase_price">{{errors.purchase_price[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Количество на складе</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" :class="{'is-invalid': errors.count}"
                                       v-model="good.count">
                                <div class="invalid-feedback" v-if="errors.count">{{errors.count[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Вес (в граммах)</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" :class="{'is-invalid': errors.weight}"
                                       v-model="good.weight">
                                <div class="invalid-feedback" v-if="errors.weight">{{errors.weight[0]}}</div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3 mt-3">
                            <small class="form-text text-muted">Вы можете прикрепить изображение товара</small>
                            <ImageGood :good.sync="good"></ImageGood>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 mb-3 mt-3">
                                <button class="btn btn-primary" @click="cfModalShow = true">Добавить дополнительное поле
                                </button>
                                <br>
                                <small class="text-muted">Добавьте дополнительные такие поля, например "Размер", "Цвет" и
                                    тп. <br> Доп. поля обязательны, если у товара имеется несколько вариантов</small>
                            </div>
                        </div>

                        <c-f-modal v-if="cfModalShow"
                                   :field.sync="customField"
                                   :cf-types="cfTypes"
                                   @close="cfModalShow = false"
                                   @addCF="AddCF()"
                        ></c-f-modal>

                        <CustomField
                            :fields.sync="good.customFields"
                            :cf-types="cfTypes"
                            :delete-field="deleteField"
                        ></CustomField>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Описание</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" :class="{'is-invalid': errors.description}"
                                      v-model="good.description"></textarea>
                                <div class="invalid-feedback" v-if="errors.description">{{errors.description[0]}}</div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Проекты</label>
                            <div class="col-sm-10">
                                <multiselect
                                    v-model="projects"
                                    :options="allProjects"
                                    :multiple="true"
                                    openDirection="bottom"
                                    track-by="id"
                                    label="name"
                                    :class="{'border border-danger rounded': errors.projects}">
                                </multiselect>
                                <small class="form-text text-danger" v-if="errors.projects">{{errors.projects[0]}}</small>
                            </div>
                        </div>
                    </div>

                    <content-placeholders class="card-body" v-if="loading">
                        <content-placeholders-heading :img="true"/>
                    </content-placeholders>

                    <div class="card-header px-0 bg-transparent" v-if="!loading">
                        <strong>Сопутствующие товары</strong><br>
                        <small class="text-muted">Выберите товары, которые можно предложить клиенту вместе с данным</small>
                        <div class="card-header-actions">
                            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse"
                               data-target="#collapseСoncomitants" aria-expanded="true">
                                <i class="icon-arrow-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="card-body collapse" id="collapseСoncomitants" v-if="!loading">
                        <div class="form-group">
                            <label>Товары</label>
                            <multiselect
                                v-model="concomitants"
                                :options="allGoods"
                                :multiple="true"
                                openDirection="bottom"
                                track-by="id"
                                label="name"
                                :class="{'border border-danger rounded': errors.concomitants}">
                            </multiselect>
                            <small class="form-text text-danger"
                                   v-if="errors.concomitants">{{errors.concomitants[0]}}</small>
                        </div>
                    </div>

                    <content-placeholders class="card-body" v-if="loading">
                        <content-placeholders-heading :img="true"/>
                    </content-placeholders>

                    <div class="card-header px-0 bg-transparent" v-if="!loading">
                        <strong>Является сопутствующим</strong><br>
                        <small class="text-muted">Выберите товары с которыми можно предложить данный</small>
                        <div class="card-header-actions">
                            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse"
                               data-target="#collapseGenerals" aria-expanded="true">
                                <i class="icon-arrow-up"></i>
                            </a>
                        </div>
                    </div>


                    <div class="card-body collapse" id="collapseGenerals" v-if="!loading">
                        <div class="form-group">
                            <label>Товары</label>
                            <multiselect
                                v-model="general"
                                :options="allGoods"
                                :multiple="true"
                                openDirection="bottom"
                                track-by="id"
                                label="name"
                                :class="{'border border-danger rounded': errors.goods}">
                            </multiselect>
                            <small class="form-text text-danger" v-if="errors.goods">{{errors.goods[0]}}</small>
                        </div>
                    </div>

                    <content-placeholders class="card-body" v-if="loading">
                        <content-placeholders-heading :img="true"/>
                    </content-placeholders>
                </div>
        </div>
    </div>
</template>

<script>
    import ImageGood from './Image'
    import CFModal from './CFModal'
    import CustomField from './CustomField'

    export default {
        data() {
            return {
                name: '',
                goods: [],
                moreVariants: false,
                kitsMenu: false,
                goodFields: {
                    price: 0,
                    purchase_price: 0,
                    count: 0,
                    weight: 0,
                    customFields: [],
                    description: '',
                },
                customField: {
                    name: '',
                    label: '',
                    type: 0,
                    value: ''
                },
                cfTypes: [
                    {
                        type: 'text',
                        name: 'Текстовое поле'
                    },
                    {
                        type: 'color',
                        name: 'Цвет'
                    },
                    {
                        type: 'number',
                        name: 'Числовое поле'
                    },
                    {
                        type: 'size',
                        name: 'Размер'
                    },
                ],
                cfModalShow: false,
                currentVariant: 0,
                general: [],
                allGoods: [],
                concomitants: [],
                projects: [],
                allProjects: [],
                errors: {},
                loading: true,
                create: false,
                submiting: false,
                submitingDestroy: false
            }
        },
        components: {
            ImageGood,
            CFModal,
            CustomField
        },
        mounted() {
            let str = window.location.pathname
            let res = str.split("/")

            let id = parseInt(res[2]);
            if (!isNaN(id)) {
                this.getGood(id)
                this.getOptions(id);
            } else {
                this.create = true;
                this.getOptions(0);
                this.goods.push(JSON.parse(JSON.stringify(this.goodFields)));
            }
        },
        computed: {
            good() {
                if (!this.loading)
                    return this.goods[this.currentVariant];
            },
            goodTabs() {
                return this.goods;
            }
        },
        methods: {
            getGood(id) {
                this.loading = true

                axios.get(`/api/goods/getone/${id}`)
                    .then(response => {
                        this.goods = response.data.goods;
                        this.goodFields.customFields = this.goods[0].customFields;
                        this.name = response.data.name;
                        this.projects = response.data.projects;
                        this.general = response.data.general;
                        this.concomitants = response.data.concomitants;

                        if (this.goods.length > 1)
                            this.moreVariants = true;
                    })
                    .catch(error => {
                        this.$toasted.global.error('Не найдено')
                        // location.href = '/goods'
                    })
                    .then(() => {
                        this.loading = false
                    })
            },
            getOptions(id = 0) {
                this.loading = true
                axios.get(`/api/goods/getoptions/${id}`)
                    .then(response => {
                        this.allGoods = response.data.allGoods;
                        this.allProjects = response.data.allProjects;

                    })
                    .catch(error => {
                        this.$toasted.global.error('Не найдено')
                        // location.href = '/goods'
                    })
                    .then(() => {
                        this.loading = false
                    })

            },
            update() {
                if (this.create) {
                    this.store();
                    return;
                }
                if (!this.submiting) {
                    this.submiting = true
                    let data = {
                        goods: this.goods,
                        name: this.name,
                        projects: this.projects,
                        general: this.general,
                        concomitants: this.concomitants
                    }
                    axios.post(`/api/goods/update/${this.goods[0].id}`, data)
                        .then(response => {
                            this.$toasted.global.error('Updated role!')
                            location.href = '/goods'
                        })
                        .catch(error => {
                            this.errors = error.response.data.errors
                            this.submiting = false
                        })
                }
            },
            store() {
                let data = {
                    goods: this.goods,
                    name: this.name,
                    projects: this.projects,
                    general: this.general,
                    concomitants: this.concomitants
                }
                axios.post(`/api/goods/store`, data)
                    .then(response => {
                        this.$toasted.global.error('Добавлен товар!')
                        location.href = '/goods'
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            },
            addVariant() {
                this.goods.push(JSON.parse(JSON.stringify(this.goodFields)));
            },
            deleteVariant() {
                this.goods.splice(this.currentVariant, 1);
                if (this.currentVariant + 1 > this.goods.length)
                    this.currentVariant = this.currentVariant - 1;
            },
            tabClass(index) {
                if (this.currentVariant === index)
                    return "nav-link active";
                return "nav-link";
            },
            changeVariant(index) {
                this.currentVariant = index;
            },
            AddCF() {
                for (let key in this.goods) {
                    this.goods[key].customFields.push(JSON.parse(JSON.stringify(this.customField)));
                    this.goodFields.customFields.push(JSON.parse(JSON.stringify(this.customField)));
                    this.cfModalShow = false;
                }
            },
            deleteField(index) {
                for (let key in this.goods) {
                    this.goods[key].customFields.splice(index, 1)
                }
                this.goodFields.customFields.splice(index, 1);
            }
        }
    }
</script>

<style scoped>

</style>
