<template>
    <div class="media">
        <img class="mr-4 mb-3" style="width: 120px; height: 120px" :src="good.image_url">
        <div class="media-body pt-1">
            <vue-clip
                :options="optionsAvatar"
                :on-sending="sendingImage"
                :on-complete="completeImage">
                <template slot="clip-uploader-action">
                    <button class="dz-message btn btn-outline-secondary btn-sm" type="button">Выберите файл</button>
                </template>
            </vue-clip>
            <small class="form-text text-muted">Максимальный размер файла 500КБ.</small>
            <small class="form-text text-danger" v-if="errors.status">{{errors.message}}</small>
            <div class="progress mt-2 mb-3" style="height: 1px;">
                <div class="progress-bar"
                     :class="{'bg-success': preview.status == 'success', 'bg-danger': preview.status == 'error', }"
                     :style="{width: preview.progress+'%'}">
                </div>
            </div>
            <button class="btn btn-ghost-info btn-sm" type="button" @click="removeAvatarAuthUser" :disabled="submiting">
                <i class="fas fa-spinner fa-spin" v-if="submiting"></i> Удалить
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['good'],
        data() {
            return {
                errors: {},
                image_url: '',
                submiting: false,
                preview: {},
                optionsAvatar: {
                    headers: {'X-CSRF-TOKEN': Laravel.csrfToken},
                    url: '/api/goods/uploadImage',
                    paramName: 'file',
                    parallelUploads: 1,
                    maxFilesize: {
                        limit: 10,
                        message: 'The size image is {{filesize}}MB is greater than the {{maxFilesize}}MB'
                    },
                    acceptedFiles: {
                        extensions: ['image/*'],
                        message: 'You are uploading an invalid file'
                    }
                }
            }
        },
        methods: {
            sendingImage (file, xhr, formData) {
                this.errors = {}
                this.preview = file
            },
            completeImage (file, status, xhr) {
                if (status == 'success') {
                    this.good.image_url = JSON.parse(xhr.response).image_url
                    // if (Laravel.user.id == this.user.id)
                    // Laravel.user.avatar_url = JSON.parse(xhr.response).avatar_url
                } else {
                    this.errors = {
                        status: status,
                        message: file.errorMessage
                    }
                }
            },
            removeAvatarAuthUser () {
                this.submiting = true
                axios.post(`/api/goods/removeImage`)
                    .then(response => {
                        this.errors = {}
                        this.submiting = false
                        this.good.image_url = response.data.image_url
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            }
        }
    }
</script>

<style scoped>

</style>
