<template>
    <div class="container">

        <div class="card-header px-0 mt-2 bg-transparent clearfix">
            <h4 class="float-left pt-2">Товары</h4>
            <div class="card-header-actions mr-1">
                <a class="btn btn-success" href="/goods/create">Новый товар</a>
            </div>
        </div>

        <div class="card-body px-0">
            <div class="row justify-content-between">
                <div class="col-7 col-md-5">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" @click="filter">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Seach" v-model.trim="filters.search"
                               @keyup.enter="filter">
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('id')">ID</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'id' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark" @click.prevent="sort('name')">Товар</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'name' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'name' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th>
                    <a href="#" class="text-dark" @click.prevent="sort('name')">Цена</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'price' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'name' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell">
                    <a href="#" class="text-dark" @click.prevent="sort('created_at')">Создан</a>
                    <i class="mr-1 fas" :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'desc'}"></i>
                </th>
                <th class="d-none d-sm-table-cell"></th>
            </tr>
            </thead>

            <tbody>
                <tr v-for="good in goods">
                    <td class="d-none d-sm-table-cell">{{good.id}}</td>
                    <td class="d-none d-sm-table-cell">
                        <popover-click placement="right" :good_id="good.id">
                            {{good.name}}
                            <span class="badge badge-primary">{{good.variants_count + 1}}
                            </span>
                        </popover-click>
                    </td>
                    <td class="d-none d-sm-table-cell">{{good.price}}</td>
                    <td class="d-none d-sm-table-cell">
                        <small>{{good.created_at | moment("LL")}}</small> - <small class="text-muted">{{good.created_at | moment("LT")}}</small>
                    </td>
                    <td class="d-none d-sm-table-cell"><i class="fas fa-pen" @click="edit(good.id)"></i></td>
                </tr>
                <tooltip/>
            </tbody>
        </table>

    </div>


</template>

<script>
    Vue.component('popover', {
        props: ['content', 'placement', 'show', 'position'],
        template: '<transition name="fade">\
<div class="popover" role="tooltip" :class="placementClass" :style="{top: position.top + \'px\', left: position.left + \'px\'}" v-if="show">\
<div class="arrow"></div>\
<h3 class="popover-header"></h3>\
<div class="popover-body">\
<table v-for="(variant, index) in content">\
<tr>\
<td style="width:170px">\
Вариант {{index + 1}}\
</td>\
<td style="width:170px">\
<img :src="variant.image_url" style="width: 30%;">\
</td>\
</tr>\
<tr v-for="item in variant.customFields">\
<td>{{item.label}}</td>\
<td><div v-if="item.type === \'color\'" :style="colorStyle(item.value)"></div>{{item.value}}</td>\
</tr>\
</table>\
</div>\
</div>\
</transition>',
        computed: {
            placementClass() {
                console.log(this.content);
                return `bs-popover-${this.placement}`;
            }
        },
        methods: {
            colorStyle(value) {
                return `
                display: inline;
                float:left;
                width: 15px;
                height: 15px;
                margin-right:5px;
                background-color: ${value}`;
            }
        }
    });

    Vue.component('popover-click', {
        props: ['placement', 'good_id'],
        template: '<div style="display: inline-block" @click="handleClick">\
<slot></slot>\
<popover :show="show" :placement="placement" :content="content" :position="position"></popover>\
</div>',
        data() {
            return {
                show: false,
                position: {
                    top: 40,
                    left: 0
                },
                content: []
            }
        },
        methods: {
            handleClick() {
                axios.get(`/api/goods/variants/${this.good_id}`)
                    .then(response => {
                        this.content = response.data;
                        this.show = !this.show;
                    })

            }
        },
        updated() {
            const $el = this.$el;
            const placement = this.placement;
            const position = this.position;
            const top = $el.getBoundingClientRect().top;
            const left = $el.getBoundingClientRect().left;
            const width = $el.offsetWidth;
            const height = $el.offsetHeight;
            const popover = $el.querySelector('.popover');
            const popoverWidth = popover.offsetWidth;
            const popoverHeight = popover.offsetHeight;

            if (placement === 'top') {
                position.top = top - popoverHeight;
            }
            if (placement === 'bottom') {
                position.top = top + height;
            }
            if (placement === 'top' || placement === 'bottom') {
                position.left = left + ((width - popoverWidth) / 2);
            }
            if (placement === 'left') {
                position.left = left - popoverWidth;
            }
            if (placement === 'right') {
                position.left = left + width;
            }
            if (placement === 'left' || placement === 'right') {
                position.top = top + ((height - popoverHeight) / 2);
            }
        }
    });
    export default {
        data () {
            return {
                goods: [],
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 25,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
                loading: true
            }
        },
        mounted () {
            if (localStorage.getItem("filtersTableGoods")) {
                this.filters = JSON.parse(localStorage.getItem("filtersTableGoods"))
            } else {
                localStorage.setItem("filtersTableGoods", this.filters);
            }
            this.getGoods()
        },
        methods: {
            getGoods () {
                this.loading = true
                this.goods = []

                localStorage.setItem("filtersTableGoods", JSON.stringify(this.filters));

                axios.post(`/api/goods/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.goods = response.data.data
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
            },
            edit (id) {
                location.href = `/goods/${id}/edit`
            },
            // filters
            filter() {
                this.filters.pagination.current_page = 1
                this.getGoods()
            },
            changeSize (perPage) {
                this.filters.pagination.current_page = 1
                this.filters.pagination.per_page = perPage
                this.getGoods()
            },
            sort (column) {
                if(column == this.filters.orderBy.column) {
                    this.filters.orderBy.direction = this.filters.orderBy.direction == 'asc' ? 'desc' : 'asc'
                } else {
                    this.filters.orderBy.column = column
                    this.filters.orderBy.direction = 'asc'
                }

                this.getGoods()
            },
            changePage (page) {
                this.filters.pagination.current_page = page
                this.getGoods()
            },
            showVariants(id) {
                axios.get(`/api/goods/variants/${id}`)
                    .then(response => {
                        // this.goods = response.data.data
                        // delete response.data.data
                        // this.filters.pagination = response.data
                        // this.loading = false
                        return '000';
                    })
            }
        }
    }
</script>

<style scoped>
    .badge  {
        margin-left: 2px;
    }
    .bs-popover-left .arrow,
    .bs-popover-right .arrow {
        top: 50%;
    }
    .bs-popover-top .arrow,
    .bs-popover-bottom .arrow {
        left: 50%;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity 0.15s linear;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .color_preview {
        width: 5px;
        height: 5px;
    }
</style>
