<template>
    <aside class="aside-menu">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
                    Tab 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
                    Tab 2
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
                    Tab 3
                </a>
            </li>
        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
            <div class="tab-pane p-3 active" id="tab1" role="tabpanel">
                Tab 1 Content
            </div>
            <div class="tab-pane p-3" id="tab2" role="tabpanel">
                Tab 2 Content
            </div>
            <div class="tab-pane p-3" id="tab3" role="tabpanel">
                Tab 3 Content
            </div>
        </div>
    </aside>
</template>

<script>
    export default {
        name: "Kits"
    }
</script>

<style scoped>

</style>
